body {
    height:100%;
    margin:0;
    padding:0;	
}
.overlay {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    // Własność z-index określa kolejność elementów wzdłuż osi z. Kiedy elementy nachodzą na siebie, kolejność osi z decyduje, który element przykrywa inny. Element z większym indeksem z zazwyczaj przykrywa element z mniejszym.
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal {
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     padding:15px;
     text-align:center;
     border-radius: 0.5rem;
}   
.close-button {
    float: right;
    width: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
    &:hover {
    	background-color: darkgray;
    }
}
.show-modal {
	display: block;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
